{
  "env": {
    "browser": true,
    "jest/globals": true,
    "node": true
  },

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "prettier",
    "react",
    "jest"
  ],

  "rules": {
    "prettier/prettier": "error"
  },

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": [
              "src/js",
              "src/css",
              "src/images",
              "node_modules"
            ]
          }
        }
      }
    },
    "react": {
      "version": "detect"
    }
  }
}