@import "./shared/tailwind.css";

@layer components {
  a.link {
    @apply text-indigo-600 hover:text-indigo-700 hover:underline;
  }
}

:root {
  --border-radius: 10px;
}

p {
  &.with-border {
    border: 1px solid #666;
    border-radius: var(--border-radius);
    filter: grayscale(50%);
  }

  &.with-background {
    background: url("../images/background.png");
  }
}
